.button {
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 1.2em 2.2em;
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 1em;
    cursor: pointer;
}
