.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: start;
}

.title {
    color: #000;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: start;
    width: 100%;
}
