.header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 1rem 2rem;
    text-align: center;
}

.title {
    color: #000;
}

.text {
    max-width: 70ch;
}

@media (min-width: 500px) {
    .header {
        padding: 1rem;
    }
}
